@using TaskManager.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title - Task Manager</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <!-- Morris chart -->
    @*<link href="/Content/css/morris/morris.css" rel="stylesheet" type="text/css" />*@
    <!-- jvectormap -->
    <link href="/Content/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="/Content/css/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="/Content/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="/Content/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    
    <!-- bootstrap data table -->
    <link href="/content/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Theme style -->
    <link href="/Content/css/AdminLTE.css" rel="stylesheet" type="text/css" />

</head>
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="/home/index" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Dashboard
            </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-success"></span>
                        </a>
                        @*<ul class="dropdown-menu">
                            <li class="header">Bạn có 4 tin nhắn mới</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="/Content/img/avatar3.png" class="img-circle" alt="User Image" />
                                            </div>
                                            <h4>Support Team
                                                <small style="position: absolute;top: 13px;right: 10px;"><i class="fa fa-clock-o"></i>5 mins</small>
                                            </h4>
                                            <p style="text-overflow: ellipsis;overflow: hidden;">Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">Hiển thị tất cả</a></li>
                        </ul>*@
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    @*<li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>*@
                    <!-- Tasks: style can be found in dropdown.less -->
                    @*<li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>Design some buttons
                                                   
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>Create a nice theme
                                                   
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>Some task I need to do
                                                   
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>Make beautiful transitions
                                                   
                                                <small class="pull-right">80%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>*@
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>@Helper.CurrentUser.UserName <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <img src="@Helper.CurrentUser.Avatar" class="img-circle" alt="User Image" />
                                <p>
                                    @Helper.CurrentUser.UserName
                                    <small>@Helper.CurrentUser.FirstName @Helper.CurrentUser.LastName</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <!-- <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li> -->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/user/myprofile" class="btn btn-default btn-flat">User profile</a>
                                </div>
                                <div class="pull-right">
                                    @Html.ActionLink("Log out", "LogOff", "User", null, new {@class = "btn btn-default btn-flat"})
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Helper.CurrentUser.Avatar" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Hello, @Helper.CurrentUser.UserName</p>

                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>
                <!-- search form -->
                <!-- <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form> -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    @*<li class="active">
                        <a href="/home/index">
                            <i class="fa fa-dashboard"></i><span>Dashboard</span>
                        </a>
                    </li>*@
                    <!-- <li>
                            <a href="pages/widgets.html">
                                <i class="fa fa-th"></i> <span>Widgets</span> <small class="badge pull-right bg-green">new</small>
                            </a>
                        </li> -->
                    <!-- <li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>UI Elements</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
                                <li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
                                <li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
                                <li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
                                <li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>Forms</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
                                <li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
                                <li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
                            </ul>
                        </li> -->
                    <li>
                        <a href="@Url.Action("Index","Appointment")">
                            <i class="fa fa-calendar"></i><span>Calendar</span>
                            <!-- <small class="badge pull-right bg-red">3</small> -->
                        </a>
                    </li>
                    @if (Helper.CurrentUser.IsAdmin)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i><span>Department Manager</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/department/index"><i class="fa fa-angle-double-right"></i>Department Manager</a></li>
                                <li><a href="/user/index"><i class="fa fa-angle-double-right"></i>User Manager</a></li>
                            </ul>
                        </li>   
                    }
                    @if (Helper.CurrentUser.DepartmentLeader > 0 || Helper.CurrentUser.IsManager)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i><span>Manager</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (Helper.CurrentUser.IsManager)
                                {
                                    <li><a href="/project/index"><i class="fa fa-angle-double-right"></i>Project Manager</a></li>
                                }
                                <li><a href="/task/index"><i class="fa fa-angle-double-right"></i>Task Manager</a></li>
                                @if (Helper.CurrentUser.DepartmentLeader > 0)
                                {
                                    <li><a href="@Url.Action("ListReport","Report")"><i class="fa fa-angle-double-right"></i>Report</a></li>
                                    <li><a href="/report/OverDues"><i class="fa fa-angle-double-right"></i>Not Reported</a></li>   
                                }
                            </ul>
                        </li>
                    }
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-tasks"></i><span>My Task</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            @*<li><a href="/task/index"><i class="fa fa-angle-double-right"></i>My task</a></li>*@
                            <li><a href="/assigntask/MyTask"><i class="fa fa-angle-double-right"></i>My task</a></li>
                            <li><a href="/report/Index"><i class="fa fa-angle-double-right"></i>Report</a></li>
                        </ul>
                    </li>
                    @*<li class="">
                        <a href="#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Charts</span>
                            <!-- <i class="fa fa-angle-left pull-right"></i> -->
                        </a>
                        <!-- <ul class="treeview-menu">
                                <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                                <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                                <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
                            </ul> -->
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope"></i><span>Tin nhắn</span>
                            <!-- <small class="badge pull-right bg-yellow">12</small> -->
                        </a>
                    </li>*@
                     <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user"></i> <span>User profile</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/user/Myprofile"><i class="fa fa-angle-double-right"></i> User profile</a></li>
                                <li><a href="/user/changepassword"><i class="fa fa-angle-double-right"></i> Change password</a></li>
                                <li><a href="/user/logoff"><i class="fa fa-angle-double-right"></i> Log off</a></li>
                            </ul>
                        </li> 
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Dashboard
                       
                    <!-- <small>Control panel</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/home/index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                    @RenderSection("breadcrumb", required: false)
                    @*<li class="active">Quản lý công việc</li>*@
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </aside>
        <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->

    <!-- add new calendar event modal -->


    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="/Content/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="/Content/js/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/Content/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <!-- <script src="js/plugins/iCheck/icheck.min.js" type="text/javascript"></script> -->
    
    <script src="/Content/js/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
    <script src="/Content/js/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="/Content/js/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>

    <script src="/Content/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/Content/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

    <!-- AdminLTE App -->
    <script src="/Content/js/AdminLTE/app.js" type="text/javascript"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->

    <!-- AdminLTE for demo purposes -->
    <script src="/Content/js/AdminLTE/demo.js" type="text/javascript"></script>

    @*@Scripts.Render("~/bundles/jqueryval")*@
    
    @RenderSection("Script", false)
    
    @{
        Html.RenderPartial("_ChatControl");
    }
</body>
</html>
